
</div>
<div class="footer-padding"></div>
    <footer>
<p><i>&lt; / &gt; by Subhanjali </i><br>
<img class="img" src="https://www.pinclipart.com/picdir/big/128-1284410_buttercup-clipart-transparent-cartoon-characters-powerpuff-girls-png.png" alt=""></p>
</footer>
</div>
</body>
</html>
