<!DOCTYPE html>
<html>
<head>
 <title>Image Upload Test</title>
</head>
<body>
 <br>
 <center><div class="container">
 <form id="upload_form" enctype="multipart/form-data" name="image">
  <div>
    <label>Select file to upload</label>
    <input type="file" id="fileinput">
  </div>
  <br>
  <button type="submit">Upload</button>
 </form>
 </div></center>
 <div class="container" id="image"></div>
 <script type="text/javascript" src="app.js"></script>
</body>
</html>
